.container {
    width: 70%;
    margin: auto;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.titulo h1{
    font-size: 32px;
}

.labels {
    display: flex;
    justify-content: space-between;

}

.full-width {
    width: 100%;
    margin-top: 1rem;

}

textarea {
    min-height: 4rem;
    max-height: 25rem;
}

div.buttons {
margin-top: 1rem;
 display: flex;
 justify-content: space-between;  
 align-items: center; 
}

button{
    width: 45%;

}