.container {
    width: 70%;
    margin: auto;
}

.visualizarOS {
    text-align: center;
}

h1 {
    font-size: 32px;
}

#abertura {
    text-align: end;
}

.buttons {
    margin-top: 2rem;
}

button {
    width: 100%;
}