<form class="form mat-elevation-z8">
  <h1>Deletando Técnico</h1>
  <mat-form-field class="full-width">
    <mat-label>Nome</mat-label>
    <input
      disabled
      [(ngModel)]="tecnico.nome"
      name="nome"
      maxlength="100"
      matInput
      placeholder="Digite o nome do Técnico"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>CPF</mat-label>
    <input
      disabled
      [(ngModel)]="tecnico.cpf"
      name="cpf"
      maxlength="15"
      matInput
      placeholder="Ex. 123.456.789-00"
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Telefone</mat-label>
    <input
      disabled
      [(ngModel)]="tecnico.telefone"
      name="telefone"
      maxlength="18"
      matInput
      placeholder="Ex. (00) 91122-3344"
    />
  </mat-form-field>

  <button
    (click)="delete()"
    class="mat-elevation-z8"
    mat-stroked-button
    color="accent"
  >
    DELETAR
  </button>
  <button
    class="mat-elevation-z8"
    (click)="cancel()"
    mat-stroked-button
    color="warn"
  >
    CANCELAR
  </button>
</form>
